<connectionStrings>
  <add name ="MovieUniverseConnection" providerName="System.Data.SqlClient" connectionString="Data Source=movies-n4ux2734.cloudapp.net,1433;Initial Catalog=MovieUniverseDBTest1;User=sa;Password=AnaKondA65$#"/>
 <add name ="MovieUniverseConnectionTest" providerName="System.Data.SqlClient" connectionString="Data Source=movies-n4ux2734.cloudapp.net,1433;Initial Catalog=MovieUniverseDBTestTest1;User=sa;Password=AnaKondA65$#"/>
</connectionStrings>
